/* Note about my CSS conventions
- I use CSS layers alot to separate my CSS reset
from the rest of my CSS, etc.
- I use :where() on all selectors so I don't have
- - to worry about CSS sepecificity chaning the order
*/
@layer css-reset {
	:where( body * ) {
		box-sizing: border-box;
	}
	:where( p ) {
		all: unset;
		display: block;
	}
}

@layer optional-stuff {
	:where( body ) {
/* 		background-image: linear-gradient(skyblue, white); */
		background-size: cover;
	}
	:where( header ) {
		background-color: rgba(255,255,255.0.5);
	}
}